/* --- GLOBAL STYLES --- */
body {
    font-family: 'Inter', sans-serif;
}

.lang-bn {
    font-family: 'Hind Siliguri', sans-serif;
}

.app-section {
    display: none;
}
.app-section.active {
    display: block;
    animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* --- QUIZ BUTTON FEEDBACK --- */
.quiz-option-button.correct {
    background-color: #dcfce7 !important; /* green-100 */
    border-color: #4ade80 !important; /* green-400 */
    color: #166534 !important; /* green-800 */
}
.dark .quiz-option-button.correct {
    background-color: #166534 !important; /* green-800 */
    border-color: #22c55e !important; /* green-500 */
    color: #f0fdf4 !important; /* green-50 */
}

.quiz-option-button.incorrect {
    background-color: #fee2e2 !important; /* red-100 */
    border-color: #f87171 !important; /* red-400 */
     color: #991b1b !important; /* red-800 */
}
.dark .quiz-option-button.incorrect {
    background-color: #991b1b !important; /* red-800 */
    border-color: #ef4444 !important; /* red-500 */
    color: #fef2f2 !important; /* red-50 */
}

.prose {
  color: #374151;
}
.dark .prose {
  color: #d1d5db;
}
.prose h3 {
  color: #111827;
  font-weight: 600;
}
.dark .prose h3 {
    color: #f9fafb;
}
